@font-face {
    font-family: "MyFont";
    src: url("PixelifySans-VariableFont_wght.ttf");
}

* {
    font-family: "MyFont", sans-serif;
}

body {
    text-align: center;
}

#board {
    width: 600px;
    height: 600px;

    background-color: #fbd9e5;
    border: 9px solid #fac4d2;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 135px;
    height: 135px;
    border: 7.5px solid #fac4d2;;

    font-size: 60px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.x2{
    background-color: #fbf4eb;
    color: #757575;
}

.x4{
    background-color: #f8ecdd;
    color: #757575;
}

.x8{
    background-color: #f283af;
    color: #5d5d5d;
}

.x16{
    background-color: #c43670;
    color: #1d1d1d;
}

.x32{
    background-color: #fbd8a6;
    color: #5d5d5d;
}

.x64{
    background-color: #ffd57c;
    color: #5d5d5d;
}

.x128{
    background-color: #F3CC97;
    color: #1d1d1d;
}

.x256{
    background-color: #e570b0;
    color: #1d1d1d;
}

.x512{
    background-color: #E8A0BF;
    color: #757575;
}

.x1024{
    background-color: #D9708B;
    color: #757575;
}

.x2048{
    background-color: #F9E3B0;
    color: #757575;
}

.x4096{
    background-color: #B84C65;
    color: #757575;
}

.x8192{
    background-color: #8E3A59;
    color: #000000;
}
